    <!-- Footer -->
    <div class="footer">
        <div class="container">

            <div class="footer-cell footer-margin">
                <h3 class="xsmall-margin">
                    <a class="foot-link" target="_blank" rel="noopener" href="https://twitter.com/concavefi">Socials</a>
                </h3>
                <a class="foot-link" target="_blank" rel="noopener" href="https://twitter.com/concavefi">Twitter</a>
                <a class="foot-link" target="_blank" rel="noopener" href="https://discord.gg/aqzc9fHpGB">Discord</a>
                <a class="foot-link" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCWbz_2ZUQoehm4llGbk9CtA">YouTube</a>
                <a class="foot-link" target="_blank" rel="noopener" href="https://www.reddit.com/r/Concavefi/">Reddit</a>
                <a class="foot-link" target="_blank" rel="noopener" href="https://www.instagram.com/concave.lol/">Instagram</a>
                <a class="foot-link" target="_blank" rel="noopener" href="https://concavefi.medium.com/">Medium</a>
                <a class="foot-link" target="_blank" rel="noopener" href="https://www.twitch.tv/concavefi">Twitch</a>
                <a class="foot-link" target="_blank" rel="noopener" href="https://linktr.ee/concavefi">LinkTree</a>
            </div>

            <div class="footer-cell">
                © {{ now.Format "2006"}} ConcaveFi.
            </div>

             <div class="footer-cell">
                Contributions welcome! Send it! https://github.com/Concave-Community/concavers-gh-pages
            </div>
        </div>
    </div> <!-- End of Footer -->

